{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"htmlWhitespaceSensitivity": "ignore",
	"bracketSpacing": true,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2
			}
		}
	]
}
