:root {
	--main-background-color: hsla(219, 23%, 12%, 100%);
	--panel-background-color: hsla(219, 24%, 16%, 100%);

	--accent-color: hsla(179, 51%, 59%, 100%);
	--error-color: hsla(358, 65%, 55%, 100%);
	--warning-color: hsla(45, 93%, 58%, 100%);
	--success-color: hsla(118, 49%, 48%, 100%);
	--divider-color: hsla(0, 0%, 100%, 10%);

	--primary-text-color: hsla(0, 0%, 100%, 88%);
	--secondary-text-color: hsla(0, 0%, 100%, 50%);
	--tertiary-text-color: hsla(0, 0%, 100%, 30%);
	--accent-text-color: hsla(179, 51%, 59%, 100%);

	--radius: 6px;
	--animation-speed: 300ms;
	--regular-font-weight: 400;
	--bold-font-weight: 600;
	--base-font-size: 10px;

	font-size: var(--base-font-size);
	font-weight: var(--regular-font-weight);
	color: var(--primary-text-color);
}

html {
	font-size: var(--base-font-size);
}
body {
	font-size: 1.4rem;
	min-height: 100vh;
	min-width: 100vw;
	color: var(--primary-text-color);
	background: var(--main-background-color);
	line-height: 1.4;
	font-family:
		'SF Pro',
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	min-width: 0; /* This helps with flexbox and grid */
	font-weight: normal;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
